@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Buttons */

button {
  font-family: "Roboto", sans-serif;
  color: white;
}

.custom-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 5px;
  border: 0px;
  transition: 0.4s all ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 3px black;
  box-sizing: border-box;
}

.custom-button::after {
  content: "";
  z-index: 5;
  background-color: white;
  opacity: 10%;
  position: absolute;
  width: 100%;
  height: 300%;
  left: 0;
  border-radius: 50vh;
  bottom: -300%;
  transition: all 0.2s ease;
}

.clicked::after {
  bottom: -100%;
}

.custom-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}

.clicked {
  box-shadow: 0px 0px 7px black;
}

.button-disabled {
  background-color: hsla(0, 0%, 85%);
  box-shadow: none;
  cursor: default !important;
  color: hsla(0, 0%, 70%);
}

/*filled buttons */

.button-fill-primary {
  background-color: hsla(200, 80%, 30%);
  border: 2px solid hsla(200, 80%, 30%);
}

.button-fill-primary:hover {
  background-color: hsla(200, 80%, 20%);
}

.button-fill-secondary {
  background-color: hsla(200, 80%, 45%);
  border: 2px solid hsla(200, 80%, 45%);
}

.button-fill-secondary:hover {
  background-color: hsla(200, 80%, 35%);
}

.button-fill-info {
  background-color: hsla(200, 80%, 60%);
  border: 2px solid hsla(200, 80%, 60%);
}

.button-fill-info:hover {
  background-color: hsla(200, 80%, 50%);
}

.button-fill-success {
  background-color: hsla(140, 100%, 30%);
  border: 2px solid hsla(140, 100%, 30%);
}

.button-fill-success:hover {
  background-color: hsla(140, 100%, 20%);
}

.button-fill-warning {
  background-color: hsla(35, 100%, 50%);
  border: 2px solid hsla(35, 100%, 50%);
}

.button-fill-warning:hover {
  background-color: hsla(35, 100%, 40%);
}

.button-fill-danger {
  background-color: hsla(0, 80%, 45%);
  border: 2px solid hsla(0, 80%, 45%);
}

.button-fill-danger:hover {
  background-color: hsla(0, 80%, 35%);
}

/*outlined styling */
.button-outline-primary {
  background-color: transparent;
  border: 2px solid hsla(200, 80%, 30%);
  color: hsla(200, 80%, 30%);
}

.button-outline-primary:hover {
  background-color: hsla(200, 80%, 20%);
  color: white;
}

.button-outline-secondary {
  background-color: transparent;
  border: 2px solid hsla(200, 80%, 45%);
  color: hsla(200, 80%, 45%);
}

.button-outline-secondary:hover {
  background-color: hsla(200, 80%, 35%);
  color: white;
}

.button-outline-info {
  background-color: transparent;
  border: 2px solid hsla(200, 80%, 60%);
  color: hsla(200, 80%, 60%);
}

.button-outline-info:hover {
  background-color: hsla(200, 80%, 50%);
  color: white;
}

.button-outline-success {
  background-color: transparent;
  border: 2px solid hsla(140, 100%, 30%);
  color: hsla(140, 100%, 30%);
}

.button-outline-success:hover {
  background-color: hsla(140, 100%, 20%);
  color: white;
}

.button-outline-warning {
  background-color: transparent;
  border: 2px solid hsla(35, 100%, 50%);
  color: hsla(35, 100%, 50%);
}

.button-outline-warning:hover {
  background-color: hsla(35, 100%, 40%);
  color: white;
}

.button-outline-danger {
  background-color: transparent;
  border: 2px solid hsla(0, 80%, 45%);
  color: hsla(0, 80%, 45%);
}

.button-outline-danger:hover {
  background-color: hsla(0, 80%, 35%);
  color: white;
}

/*transparent styling */
.button-transparent-primary {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: hsla(200, 80%, 30%);
}

.button-transparent-primary:hover {
  background-color: hsla(200, 80%, 20%);
  border: 2px solid hsla(200, 80%, 20%);
  color: white;
}

.button-transparent-secondary {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: hsla(200, 80%, 45%);
}

.button-transparent-secondary:hover {
  background-color: hsla(200, 80%, 35%);
  border: 2px solid hsla(200, 80%, 35%);
  color: white;
}

.button-transparent-info {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: hsla(200, 80%, 60%);
}

.button-transparent-info:hover {
  background-color: hsla(200, 80%, 50%);
  border: 2px solid hsla(200, 80%, 50%);
  color: white;
}

.button-transparent-success {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: hsla(140, 100%, 30%);
}

.button-transparent-success:hover {
  background-color: hsla(140, 100%, 20%);
  border: 2px solid hsla(140, 100%, 20%);
  color: white;
}

.button-transparent-warning {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: hsla(35, 100%, 50%);
}

.button-transparent-warning:hover {
  background-color: hsla(35, 100%, 40%);
  border: 2px solid hsla(35, 100%, 40%);
  color: white;
}

.button-transparent-danger {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: hsla(0, 80%, 45%);
}

.button-transparent-danger:hover {
  background-color: hsla(0, 80%, 35%);
  border: 2px solid hsla(0, 80%, 35%);
  color: white;
}

/*sizing*/
.sm {
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 18px !important;
}

.sm * {
  font-size: 18px !important;
}

.md {
  padding: 3px 9px;
  border-radius: 5px;
  font-size: 30px !important;
}

.md * {
  font-size: 30px !important;
}

.lg {
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 40px !important;
}

.lg * {
  font-size: 40px !important;
}

/* Button Groups */

.button-group {
  display: flex;
  width: 100%;
}

.button-group.row {
  flex-direction: row;
}

.button-group.column {
  flex-direction: column;
}
